*{
	margin: 0px;
}

.circle_base {
    border-radius: 50%;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
}

.content {
	padding: 100px;
}

.teacher_photo {
	background-size: cover;
	float: left;
	width: 300px;
	height: 300px;
}

.second_photo {
	background-size: cover;
	float: right;
	margin-top: 50px;
	width: 300px;
	height: 300px;
	z-index: 0;
}

.bg_section{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.first_section {
	-webkit-clip-path: polygon(
		  0vw   0vh,
	    100vw   0vh,
	    100vw  90vh,
	      0vw  70vh
	);
	min-height: 90vh;
	padding-top: 150px;
}

.second_section {
	min-height: 50vh;
}

.third_section {
	-webkit-clip-path: polygon(
		  0vw  20vh,
	    100vw   0vh,
	    100vw  80vh,
	      0vw  100vh
	);
	min-height: 100vh;
	padding-top: 30vh;
}

.fourth_section{
	margin-top: 10vh;
	min-height: 70vh;
}

.fifth_section {
	-webkit-clip-path: polygon(
		  0vw  60vh,
		100vw  40vh,
	    100vw 100vh,
	      0vw 100vh
	);
	min-height: 100vh;
}

.right {
	text-align: right;
}

h2 {
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 3px;
}

.letter{
	font-size: 44px;
	font-weight: 800;
	letter-spacing: 3px;
}

.h3title{
	font-size: 50px;
	font-weight: 450;
	letter-spacing: 1px;
}

.line-dec {
	width: 60px;
	height: 3px;
	background-color: black;
	margin: 25px 0px 25px auto;
}

.sectionTitle{
	width: 100vw;
	padding-top: 10vh;
}

.sectionText{
	margin-top: 50px;
	font-size: 20px;
}

.fourth_photos{
	display: grid;
	grid-template-columns: repeat(20, lfr);
	position: relative;
}

#fourthphoto_top{
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 5;
	grid-row-end: 5;
	z-index: 0;
}

#fourthphoto_bot{
	grid-column-start: 2;
	grid-row-start: 3;
	grid-column-end: 6;
	grid-row-end: 7;
	z-index: 0;
	filter: brightness(50%);
}

span {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}