*{
	margin: 0px;
}

.circle_base {
    border-radius: 50%;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
}

.teacher_photo {
	background-size: cover;
	float: left;
	width: 300px;
	height: 300px;
}

.second_photo {
	background-size: cover;
	float: right;
	margin-top: 50px;
	width: 300px;
	height: 300px;
	z-index: 0;
}

.sect{
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
}

section{
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
}

.first_section {
	-webkit-clip-path: polygon(
		0% 0%,
	    100% 0%,
	    100% 100%,
	    0% 90%
	);
	min-height: 110vh;
	padding: 20% 0px 0px 0px;
}

.second_section {
	padding: 0px 0px 0px 0px;
	min-height: 70vh;
}

.third_section {
	-webkit-clip-path: polygon(
		0% 30%,
	    100% 0%,
	    100% 70%,
	    40% 80%,
	    0% 75%
	);
	min-height: 120vh;
	padding: 20% 0px 0px 0px;
}

.fourth_section{
	min-height: 50vh;
}

.fifth_section {
	-webkit-clip-path: polygon(
		0% 30%,
	    100% 0%,
	    100% 80%,
	    0% 100%
	);
	min-height: 150vh;
}

.sixth_section{
	min-height: 50vh;
}

.right {
	text-align: right;
}

h2 {
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 3px;
}

.letter{
	font-size: 44px;
	font-weight: 800;
	letter-spacing: 3px;
}

.h3title{
	font-size: 50px;
	font-weight: 450;
	letter-spacing: 1px;
}

.line-dec {
	width: 60px;
	height: 3px;
	background-color: black;
	margin: 25px 0px 25px auto;
}

.sectionText{
	margin-top: 50px;
	font-size: 20px;
}

.fourth_photos{
	display: grid;
	grid-template-columns: repeat(20, lfr);
	position: relative;
}

#fourthphoto_top{
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 5;
	grid-row-end: 5;
	z-index: 0;
}

#fourthphoto_bot{
	grid-column-start: 2;
	grid-row-start: 3;
	grid-column-end: 6;
	grid-row-end: 7;
	z-index: 0;
	filter: brightness(50%);
}

span {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}