* {
    text-align: center;
}

body {
  height: 90vh;
  width: 90vw;
  text-align: center;
  margin: auto;
  background: url('../images/marble.jpg') no-repeat center fixed;
  background-size: cover;
  filter: brightness(150%);
}

#toptitle{
  position: relative;
  display: inline-block;
  font-size: 100px;
  width: 50%;
}

#toptitle .line{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 5px;
  width: 100%;
  background-color: #000000;
  transform-origin: center;
}

#toptitle .letter{
  display: inline-block;
  opacity: 0;
  font-family: Courgette;
  margin: 16px;
}

.content {
    position: relative;
    top: calc((100% - 200px) / 2);
    margin: auto;
    border: 200px;
}

#invText{
  margin-top: 50px;
  text-align: center;
  line-height: 2em;
  font-size: 35px;
}

a {
    color: gray;
    font-size: initial;
    text-decoration-line: none;
}